@page "/error"

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Um erro ocorreu enquanto processavamos sua solicitação.</h2>

<h3>Modo de Desenvolvimento</h3>
<p>
    Trocar para o ambiente de <strong>Desenvolvimento</strong> exibirá informações mais detalhadas sobre o erro que ocorreu.
</p>
<p>
    <strong>O ambiente de desenvolvimento não deve estar ativado para aplicativos implantados.</strong>
    Isso pode resultar na exibição de informações confidenciais de exceções para os usuários finais.
    Para depuração local, ative o ambiente de <strong>Desenvovimento</strong> definindo o <strong>ASPNETCORE_ENVIRONMENT</strong> para variável de ambiente <strong>Development</strong>
    and restarting the app.
</p>